<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-2 col-md-2 col-2 col-sm-2 col-xs-2">
              <div class="card sm-card">
                  <div class="card-body">
                      <h4 class="bg-title gt-ranking-number" id="name-total-world"></h4>
                      <h2 class="gt-number gt-bg-ranking-number" id="total-world">0</h2>
                      <h4 class="bg-title gt-ranking-number">Muertes</h4>
                      <h3 class="gt-dark-number gt-bg-ranking-number" id="total-world-deaths">0</h3>
                  </div>
              </div>
              <div class="card gt-card">
                  <div class="card-body">
                      <h5 class="bg-title gt-ranking-number" style="padding-left: 6px;">Informe por país</h5>
                      <div class="table-ranking my-custom-scrollbar">
                          <table>
                              <tbody id="countries-ranking">
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-3 col-sm-3 col-xs-3">
              <div class="card bg-card">
                  <div class="card-body">
                      <app-mapchart></app-mapchart>
                  </div>
              </div>
              <div class="card bg-card">
                  <div class="card-body">
                      <svg id="svg-state" class="h-100 w-100"></svg>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-2 col-2 col-sm-2 col-xs-2">
              <div class="card sm-card">
                  <div class="card-body">
                      <h4 class="bg-title gt-ranking-number" id="name-total-country"></h4>
                      <h2 class="gt-number gt-bg-ranking-number" id="total-country">0</h2>
                      <h4 class="bg-title gt-ranking-number">Muertes</h4>
                      <h3 class="gt-dark-number gt-bg-ranking-number" id="total-country-deaths">0</h3>
                  </div>
              </div>
              <div class="card gt-card">
                  <div class="card-body">
                      <h5 class="bg-title gt-ranking-number">Informe por estado</h5>
                      <div class="table-ranking my-custom-scrollbar">
                          <table>
                              <tbody id="states-ranking">
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 col-md-5 col-5 col-sm-5 col-xs-5">
              <!--<div class="card md-card">
                  <div class="card-body">
                      <svg id="svg-linechart-country" class="h-100 w-100"></svg>
                  </div>
              </div>-->
              <div class="card bg-card">
                  <div class="card-body">
                      <svg id="svg-linechart-country" class="h-100 w-100"></svg>
                  </div>
              </div>
              <div class="card bg-card">
                  <div class="card-body">
                      <svg id="svg-linechart-state" class="h-100 w-100"></svg>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
