<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-2 col-md-2 col-2 col-sm-2 col-xs-2">
              <div class="card sm-card">
                  <div class="card-body">
                      <h4 class="bg-title"> Total Brasil</h4>
                      <h2 class="gt-number" id="total-country">23.445.445</h2>
                  </div>
              </div>
              <div class="card gt-card">
                  <div class="card-body">
                      <h5 class="bg-title">Relatório estadual</h5>
                      <div id="states-ranking" class="table-ranking my-custom-scrollbar">
                          <p><text class="gt-number">1234</text> São Paulo</p>
                          <p><text class="gt-number">1234</text> São Paulo</p>
                          <p><text class="gt-number">1234</text> São Paulo</p>
                          <p><text class="gt-number">1234</text> São Paulo</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-3 col-sm-3 col-xs-3">
              <div class="card bg-card">
                  <div class="card-body">
                      <app-mapchart></app-mapchart>
                  </div>
              </div>
              <div class="card bg-card">
                  <div class="card-body">
                      <svg id="svg-county" class="h-100 w-100"></svg>
                  </div>
              </div>
          </div>
          <div class="col-lg-2 col-md-2 col-2 col-sm-2 col-xs-2">
              <div class="card sm-card">
                  <div class="card-body">
                      <h4 class="bg-title"> Total estado</h4>
                      <h2 class="gt-number" id="total-state">23.232.332</h2>
                  </div>
              </div>
              <div class="card gt-card">
                  <div class="card-body">
                      <h5 class="bg-title">Relatório por Município</h5>
                      <div id="counties-ranking" class="table-ranking my-custom-scrollbar">
                          <p><text class="gt-number">1234</text> São Paulo</p>
                          <p><text class="gt-number">1234</text> São Paulo</p>
                          <p><text class="gt-number">1234</text> São Paulo</p>
                          <p><text class="gt-number">1234</text> São Paulo</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 col-md-5 col-5 col-sm-5 col-xs-5">
              <div class="card md-card">
                  <div class="card-body">
                      <svg id="svg-linechart-country" class="h-100 w-100"></svg>
                  </div>
              </div>
              <div class="card md-card">
                  <div class="card-body">
                      <svg id="svg-linechart-state" class="h-100 w-100"></svg>
                  </div>
              </div>
              <div class="card md-card">
                  <div class="card-body">
                      <svg id="svg-linechart-county" class="h-100 w-100"></svg>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
